 .dashboard-container {
            padding: 40px;
            text-align: center;
        }

        .action-btn {
            padding: 12px 25px;
            margin: 10px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s;
        }

  .hero {
    padding: 60px;
    background: var(--cream-light);
    border-radius: 12px;
    text-align: center;
    width: 80%;
    margin: 40px auto;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.section {
    padding: 20px 60px;
}

.section h2 {
    margin-bottom: 15px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.book-card {
    min-width: 180px;
    background: #767e8a;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.book-card h4 {
    margin-top: 10px;
    font-size: 14px;
}

.book-card p {
    color: #10b981;
}

        .action-btn:hover { opacity: 0.8; }

        /* Modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.6);
        }

        .modal-content {
            background: white;
            width: 400px;
            margin: 10% auto;
            padding: 25px;
            border-radius: 10px;
            text-align: left;
        }

        .close {
            float: right;
            font-size: 20px;
            cursor: pointer;
        }